/* .container {
  width: 768px;
  margin: 30px auto 0;
} */

.symbol {
  font-size: 18px;
  font-weight: 700;
}

input {
    position: absolute;
    top: -100%;
}

.change-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    text-align: center;
}

.card-img-top {
    width: 30px;
    margin: 0 auto;
}